@font-face {
  font-family: "Platform Web";
  src: url("/fonts/Platform-Medium-Web.woff2") format("woff2"),
    url("/fonts/Platform-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

html {
  font-family: "Platform Web";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

body {
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
